<% include partials/header.ejs %>

<div class="container">
    <div class="image">
        <img src="<%= result.Poster %>" height="600px" width="400px">
    </div>
    <div class="about">
        <p id="title_m"><%= result.Title %></p>
        <p><%= result.Year %></p>
        <p><%= result.Rated %></p>
        <p><%= result.Release %></p>
        <p><%= result.Runtime %></p>
        <p><%= result.Genre %></p>
        <p><%= result.Actors %></p>
        <p><%= result.Plot %></p>

        <div class="rating-container">
            <%result.Ratings.forEach(function (rating) {  %>
                <div class="rating-div">
                    <%=rating.Value%><br/><br/>

                    <%if(rating.Source =="Internet Movie Database"){%>
                    <%="IMDb"%>
                    <%}else{%>
                    <%=rating.Source%>
                    <%}%>

                </div>
            <%})%>
        </div>
    </div>

</div>

<% include partials/footer.ejs %>