<% include partials/header.ejs %>

<form method="get" action="/">
    <input class="search" type="text" placeholder="Search Your Movie and TV shows.." name="search">
    <button class="submit" type="submit">Search</button>
</form>

<div class="results">

    <% results.forEach(function (movie) { %>

    <div class="search-card">
        <a href="/id/<%= movie.imdbID %>">
                <div class="left">
                    <img src="<%= movie.Poster %>" height="240px" width="160px">
                </div>
                <div class="right">
                    <p class="title"><%= movie.Title %></p>
                    <p><%= movie.Year %></p>
                </div>
        </a>
    </div>

    <% }) %>
</div>

<div class="page_more">
    <% if(pageInfo.page>0){%>
    <a style="float: left;margin-left: 30px" href="/?search=<%= pageInfo.search%>&page=<%= pageInfo.page-1%>">Previous</a>
    <%} else{%>
    <a style="float: left;color: grey;margin-left: 30px" href="/?search=<%= pageInfo.search%>&page=<%= pageInfo.page%>">Previous</a>
    <%}%>
    <a style="float: right;margin-right: 30px" href="/?search=<%= pageInfo.search%>&page=<%= Number(pageInfo.page)+1%>">Next</a>
</div>

<% include partials/footer.ejs %>
